<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'Instant</title>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/card.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="static/js/Fingerprint.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="slide">
        <div class="wrapper">
            <div id="top1" class="card items" style="background-image: url('static/img/test.png')">
                <div class="download">
                </div>
                <div class="heart">
                    <div class="heart-img" >
                        <p>1</p>
                    </div>
                </div>
                <div class="share">
                </div>
            </div>
            <div id="top2" class="card items" style="background-image: url('static/img/test.png')">
                <div class="download">
                </div>
                <div class="heart">
                    <div class="heart-img" >
                        <p>1</p>
                    </div>
                </div>
                <div class="share">
                </div>
            </div>
            <div id="top3" class="card items" style="background-image: url('static/img/test.png')">
                <div class="download">
                </div>
                <div class="heart">
                    <div class="heart-img" >
                        <p>1</p>
                    </div>
                </div>
                <div class="share">
                </div>
            </div>
        </div>
    </div>
    <div class="all-img">
        <div class="card" style="background-image: url('static/img/test.png')">
            <div class="download">
            </div>
            <div class="heart">
                <div class="heart-img" >
                    <p>1</p>
                </div>
            </div>
            <div class="share">
            </div>
        </div>
        <div class="card" style="background-image: url('static/img/test.png')">
            <div class="download">
            </div>
            <div class="heart">
                <div class="heart-img" >
                    <p>1</p>
                </div>
            </div>
            <div class="share">
            </div>
        </div>
        <div class="card" style="background-image: url('static/img/test.png')">
            <div class="download">
            </div>
            <div class="heart">
                <div class="heart-img" >
                    <p>1</p>
                </div>
            </div>
            <div class="share">
            </div>
        </div>
        <div class="card" style="background-image: url('static/img/test.png')">
            <div class="download">
            </div>
            <div class="heart">
                <div class="heart-img" >
                    <p>1</p>
                </div>
            </div>
            <div class="share">
            </div>
        </div>
    </div>
    <div class="button-bot">
        <form id="imageForm" enctype="multipart/form-data" method="POST" action="/{{.uuid}}/upload">
            <div class="center round-but">
                <input type="file" id="fileInput" name="img" style="display: none;" accept="image/*">
                <button class="label resetButton" type="button" onclick="selectImage()">+</button>
                <input type="submit" value="Envoyer" style="display: none;">
            </div>
        </form>
    </div>
    <div id="bottom-bar">
    </div>
    <script src="static/js/slide.js"></script>
    <script src="static/js/upload.js"></script>
</body>
</html>