<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'Instant</title>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body>
    <div id="top3" class="carousel">

    </div>
    <div class="all-img">
        <div class="card" style="background-image: url('static/img/test.png')">
            <div class="download">

            </div>
            <div class="heart">
                <div class="heart-img" >
                    <p>1</p>
                </div>
            </div>
            <div class="share">
            </div>
        </div>

    </div>
    <div id="bottom-bar">

    </div>
</body>
</html>