<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'Instant</title>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/card.css"/>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="static/js/Fingerprint.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="slide">
        <div class="wrapper">
            <div id="top1" class="card items" style="background-image: url('static/img/test.png')">
                <div class="download">
                </div>
                <div class="heart">
                    <div class="heart-img" >
                        <p>1</p>
                    </div>
                </div>
                <div class="share">
                </div>
            </div>
            <div id="top2" class="card items" style="background-image: url('static/img/test.png')">
                <div class="download">
                </div>
                <div class="heart">
                    <div class="heart-img" >
                        <p>1</p>
                    </div>
                </div>
                <div class="share">
                </div>
            </div>
            <div id="top3" class="card items" style="background-image: url('static/img/test.png')">
                <div class="download">
                </div>
                <div class="heart">
                    <div class="heart-img" >
                        <p>1</p>
                    </div>
                </div>
                <div class="share">
                </div>
            </div>
        </div>
    </div>
    <div class="all-img">
        {{range .list}}
        <div class="card" style="background-image: url('{{.UUIDEvent}}/img/{{.UUID}}')">
            <a class="download" href="/{{.UUIDEvent}}/img/{{.UUID}}" download="{{.UUID}}">
            </a>
            <div class="heart">
                <a class="heart-img" href="{{.UUIDEvent}}/img/{{.UUID}}/like" >
                    <p>{{.Like}}</p>
                </a>
            </div>
            <div class="share" id="shareButton">
            </div>
        </div>
        {{end}}

    </div>
    <div class="button-bot">
        <form id="imageForm" enctype="multipart/form-data" method="POST" action="/{{.uuid}}/upload">
            <div class="center round-but">
                <input type="file" id="fileInput" name="img" style="display: none;" accept="image/*">
                <button class="label resetButton" type="button" onclick="selectImage()">+</button>
                <input type="submit" value="Envoyer" style="display: none;">
            </div>
        </form>
    </div>
    <div id="bottom-bar">
    </div>
    <script>
        // Code JavaScript pour gérer le bouton de partage
        document.getElementById('shareButton').addEventListener('click', function() {
            if (navigator.share) {
                navigator.share({
                    title: 'Titre de la page à partager',
                    text: 'Description de la page à partager',
                    url: window.location.href
                })
                    .then(function() {
                        console.log('Page partagée avec succès');
                    })
                    .catch(function(error) {
                        console.error('Erreur lors du partage :', error);
                    });
            } else {
                // Si l'API de partage n'est pas prise en charge, affichez un message de secours.
                alert('L\'API de partage n\'est pas prise en charge par votre navigateur.');
            }
        });
    </script>
    <script src="static/js/slide.js"></script>
    <script src="static/js/upload.js"></script>
</body>
</html>