@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: #FFF;
    width: 100vw;
    height: 100vh;
    display: grid;
    gap : 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 0;
    overflow: hidden;
    justify-content: center;
}

a {
    text-decoration: none;
}


#bottom-bar {
   /* border: 1px solid rgba(74, 145, 158, 0.52);*/
    background: #EBEAEA;
    width: 100vw;
    height: 10vh;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}

.all-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5vh;

    overflow: auto;

}


.slide {
    overflow: hidden;
    width: 150vw;
    display: flex;
    margin-bottom: 5vh;
    margin-top: 3vh;
}

.wrapper {
    display: flex;
    transition: transform 0.3s ease;
    width: 150vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 10vw;

}

.button-bot {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    width: 10vw;
    height: 10vh;
    z-index: 100;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 5vh;
    width: 100%;
    height: 100%;
}

.round-but {
    background: #8CACD3;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.label {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.resetButton {
    background: none;
    border : none;
}